#container-zoho-free-trial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-left: 59px;
    padding-right: 32px;
    margin-bottom: 30px;
}

#img-logo-zoho-section{
    width: 160px;
    height: auto;
}
#section-zoho-free-trial{
    margin-bottom: 10px;
    width: 100%;
}
#container-section-zoho-free-trial{
    border-radius: 50px;
    width: 100%;
    flex-direction: column;
    border-radius: 20px;
    background-image: url("../../assets/images/zohoFreetrials/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
#container2-section-zoho-free-trial{
    border-radius: 50px;
    width: 100%;
    flex-direction: column;
    background-color: var(--tj-color-black-opacity);
}
#content-logo-zoho-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}
#content-textos-zoho-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
#title-zoho-free-trials-section{
    font-size: 40px;
    font-weight: 600;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#text-zoho-free-trials-section{
    font-size: 20px;
    color: whitesmoke;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title-section-energia-renovable{
    margin-bottom: 60px;
    text-align: center;
}

#title-section-bienes-raices{
    margin-bottom: 60px;
    text-align: center;
}

.container-section-case-study{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  width: 100%;
}

@media (max-width: 1200px) {
  .container-section-case-study{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
 }
}

#title-section-servicios-empresariales{
    margin-bottom: 60px;
    text-align: center;
}

#title-section-construction{
    margin-bottom: 60px;
    text-align: center;
}

#title-section-salud{
    margin-bottom: 60px;
    text-align: center;
}

#title-section-otras-industrias{
    margin-bottom: 60px;
    text-align: center;
}

#title-section-distribucion-y-logistica{
    margin-bottom: 60px;
    text-align: center;
}

#title-section-educacion-y-capacitacion{
    margin-bottom: 60px;
    text-align: center;
}

#cta-final-title-case-study{
    font-size: 36px;
}

#cta-final-text-case-study{
    font-size: 24px;
    color: black;
}

#barra-lateral-case-study-en{
    padding-top: 100px;
    background-color: white;
}

#container-all-cases-study{
    max-width: none;
    width: 100%;
}

.container-case-study-item{
    display: flex;
    flex-direction: column;
    width: 340px;
    justify-content: center;
    align-items: center;
}

.container-case-study-item .project-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-case-study-item .project-img img{
    width: 100%;
    height: auto;
}

.container-case-study-item .container-case-study-item .project-content .project-btn {
  background-color: transparent;
  border: 0;
  opacity: 1;
  backdrop-filter: none;
  width: 60px;
  height: 60px;
  font-size: 52px;
  margin: 35px auto 0;
}
.container-case-study-item .container-case-study-item .project-content .project-btn i {
  color: var(--tj-color-common-white);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.container-case-study-item .container-case-study-item .project-content .project-btn:hover i {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.container-case-study-item:hover .project-btn {
  opacity: 1;
}

.container-case-study-item .project-content {
  padding: 25px 20px 25px 30px;
}
.container-case-study-item .project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}
.container-case-study-item .title {
  width: 70%;
  font-weight: var(--tj-fw-sbold);
  margin-bottom: 0;
}
.container-case-study-item .title a:hover {
  color: var(--tj-color-theme-primary);
}
@media only screen and (min-width: 1400px) and (max-width: 1600px),
    only screen and (min-width: 1200px) and (max-width: 1399px){
  .container-case-study-item .title {
    width: 70%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (min-width: 576px) and (max-width: 767px),
  (max-width: 575px) {
  .container-case-study-item .title {
    width: 70%;
  }
}



/* Banner Inicial Case Study Zoho */
.section-banner-inicial{
    width: calc(100%) - 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 60px;
    margin-bottom: 40px;
    border-radius: 20px;
}
.container-banner-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-image: url("/assets/images/zohoFreetrials/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.img-banner-incial{
    margin-top: 40px; 
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}
.title-banner-incial{
    width: 800px;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 15px;
    color: white;
}
.text-banner-incial{
    width: 1000px;
    font-size: 20px;
    color:white;
    text-align: center;
    margin-bottom: 40px;
}

@media (max-width: 1000px) {
    .section-banner-inicial{
        width: calc(100%) - 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 20px;
    }
    .title-banner-incial{
        width: 90%;
        font-size: 24px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .text-banner-incial{
        width: 90%;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Cta Section antes del footer */
.cta-section-case-study{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 40px;
    border-radius: 20px;
    background-color: var(--tj-color-theme-primary);
    font-family: TTNorms, sans-serif;
    font-weight: 300;
}
.cta-container-izq-case-study{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cta-title-case-study{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
    font-family: TTNorms, sans-serif;
}
.cta-text-case-study{
    font-size: 20px;
    color: black;
    font-family: TTNorms, sans-serif;
    font-weight: 400;
}
.cta-container-der-case-study{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.cta-img-der-case-study{
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
}
@media (max-width: 1000px) {
    .cta-section-case-study{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
      padding-left: 0px;
      padding-right: 0px;
      height: auto;
      border-radius: 20px;
      background-color: var(--tj-color-theme-primary);
    }
    .cta-container-izq-case-study{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .cta-title-case-study{
        font-size: 24px;
    }
    .cta-text-case-study{
        font-size: 16px;
    }
    .cta-container-der-case-study{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .cta-img-der-case-study{
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 0 0 20px 20px;
  }
}

@media (max-width: 1200px) {
  #menu-lateral-hidden-mobile{
    display: none;
  }
}
