#card-hover-fondo-verde{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#card-hover-fondo-verde:hover{
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(245, 245, 245, 0.6);
  outline: 2px solid #16A34A; /* ✅ No mueve el layout */
  outline-offset: -2px;

}
#card-hover-fondo-blanco{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#card-hover-fondo-blanco:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(3, 205, 92, 0.25); /* sombra verde sutil */
    z-index: 5;
    border: 2px solid #16A34A;
    

}

#section-items-reverse-verde{
    background-color: var(--tj-color-theme-primary);
   
}


@media (max-width: 1000px) {
    .menu_lateral_escoder_mobile{
        display: none;
    }
}


