/*Banner*/
#container-banner-careers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-left: 59px;
    padding-right: 32px;
    margin-bottom: 30px;
}
#title-careers-banner-section{
    font-size: 40px;
    font-weight: 600;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media (max-width: 980px) {
    #title-careers-banner-section{
         width: 80%;
         font-size: 32px;
         color: white;
    }
}


/*TEXTO*/
/*FEATURED ZOHO APPS*/
#section-carrers-texts{
    background-color: transparent;
    border-radius: 20px;
    margin-left: 45px;
    margin-right: 40px;
    padding-top: 50px;
    padding-bottom: 140px;
}
#title-careers-section{
    color: var(--tj-color-theme-primary);
    font-size: 32px;
    width: 90%;
}

@media (max-width: 980px) {
    #title-careers-section{
         font-size: 24px;
    }
}


#text-careers-section{
    font-size: 20px;
    color: black;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align:left;
    margin-top: 20px;
    margin-bottom: 10px;
}
