#container-conecta-zoho-analytics{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
#container-texts-conecta-zoho-analytics{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}
#seccion-right-gartner-content{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
#seccion-right-gartner-title{
    font-size: 40px;
    
}
#seccion-right-gartner-content p{
 text-align: center;
}
#seccion-right-gartner-content a span{
 color: var(--tj-color-theme-primary);
 text-decoration:underline;
}

#title-section-conecta-zoho-analytics{
    font-size: 28px;
    font-weight: 800;
    width: 70%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#text-section-conecta-zoho-analytics{
    text-align: start;
     width: 90%;
     justify-content: center;
    align-items: center;
}



/* === Contenedor general del video === */
.home-what-is-interconnecta-ai-video-container {
		width: 80%;
		height: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
		
	}
@media (max-width: 1024px) {
    .home-what-is-interconnecta-ai-video-container {
			display: flex;
			flex-direction: column;
			align-items:center;
			justify-content: center;
			width: 80%;
			margin-right: 0;
			height: 400px;
		}
}

	@media (max-width: 600px) {

		.home-what-is-interconnecta-ai-video-container {
				display: flex;
				flex-direction: column;
				align-items:center;
				justify-content: center;
				width: 80%;
				margin-right: 0;
				height: 250px;
			}

	}