
#migrate-to-zoho-banner-text-p{
    margin-left: 0px;
    padding-right: 40px;
}

#migrate-to-zoho-banner-img{
    height: 100%;
    width: auto;
    margin-bottom: 20px;
}

#migrate-to-zoho-banner-img-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 70%;  
}

#banner-right-box-container {
  width: 49%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (min-width: 576px) and (max-width: 767px),
  (max-width: 575px) {
  #banner-right-box-container {
    width: 100%;
  }
}

#migrate-to-zoho-right-box-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#migrate-to-zoho-right-box-text-p{
    text-align: center;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#logo-ic-client-title-zoho{
    height: 20px;
    width: auto;
    margin-right: 10px;
}

#buttons-banner-migrate-to-zoho{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-left: 69px;
}

.experiencia-trayectoria-migrate-to-zoho{
    font-size: 18px;
    margin-top: 20px;
    text-align: start;
    color: black;
}