#logo-hero-zoho {
  width: 150px;
  height: auto;
  margin-bottom: 30px;
}

#box-pequeno-hero {
  background-color: var(--tj-color-common-white);
}

#tag-section-title-zoho {
  border: 2px dashed #313d3d;
  border-radius: 20px;
  padding: 5px;
  color: #313d3d;
  width: 35%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#hero-left-box-interconnecta {
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 40px;
  margin-right: 0px;
  position: inherit;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: black;
  width: 49%;
}

#banner-content-interconnecta {
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  width: 100%;
  position: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  color: black;
}

#banner-desc-area-ic {
  margin-left: 0px;
  width: 100%;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: 2px dashed #313d3d;
  border-left: none;
  border-right: none;
  color: black;
}

#banner-title-ic {
  font-size: 56px;
  text-align: start;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  color: black;
}

#banner-desc-ic {
  font-size: 20px;
  text-align: start;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  color: black;
}

#bnner-desc-p-ic {
  font-size: 18px;
  margin-left: 40px;
  text-align: start;
  color: black;
}

#buttons-banner-interconnecta-ic {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0px;
  width: 100%;
  height: auto;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: black;
}

.span-banner-ic {
  font-size: 18px;
  text-align: start;
  padding: 10px;
  margin-bottom: 40px;
  color: black;
  border: 2px dashed #313d3d;
  border-radius: 20px;
}

#buttons-banner-interconnecta-ic-button-uno {
  width: 200px;
  height: auto;
  margin-right: 20px;
  color: black;
}
#tag-section-title-zoho {
  border: 2px dashed #313d3d;
  border-radius: 20px;
  padding: 5px;
  color: #313d3d;
  width: 35%;
}

#banner-content-interconnecta {
  margin-left: 0px;
}

#banner-desc-area-ic {
  margin-left: 0px;
  width: 94%;
}

#banner-title-ic {
  font-size: 48px;
  text-align: start;
  margin-bottom: 40px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

#banner-desc-ic {
  font-size: 20px;
  text-align: start;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

#container-cierre-problema-ic {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 40px;
  margin-bottom: 40px;
}

#texto-cierre-problema-ic {
  font-size: 24px;
  text-align: start;
  font-weight: 500;
  margin-left: 100px;
}

#logo-interconnecta-ic-header {
  width: 180px;
  height: auto;
}

#logo-interconnecta-ic-header-mobile {
  width: 150px;
  height: auto;
}

#logo-interconnecta-ic-header-offcanva {
  width: 150px;
  height: auto;
}

#img-zoho-header-service {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

#img-ai-header-soluciones {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

#header-soluciones-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#header-service-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.language-select-container {
  position: relative;
  display: inline-block;
  z-index: 3000;
  margin-right: 20px;
  width: 80px;
  font-size: 12px;
  background-color: #ecf0f0;
}

#language-select {
  width: 40px;
  height: 20px;
  padding: 0px;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  background-color: #ecf0f0;
}

#language-select:hover {
  border-color: #ecf0f0;
  background-color: #ecf0f0;
}

#language-select:focus {
  border-color: #0f121d;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

#language-select option {
  background-color: #0f121d;
  color: #ecf0f0;
  font-size: 12px;
}

.option {
  font-size: 12px;
  background-color: #ecf0f0;
}

#language-select option:hover {
  background-color: #0f121d;
  color: #ecf0f0;
}

#language-select option:focus {
  background-color: #0f121d;
  color: #ecf0f0;
}

#language-select option::after {
  background-color: #0f121d;
  color: #ecf0f0;
}

@media (max-width: 1380px) {
  .language-select-container {
    position: relative;
    display: inline-block;
    z-index: 3000;
    margin-right: 40px;
  }
}

#logo-ic-client-title {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

/*PARTNERS Section */
#content-hero-zoho {
  background-color: var(--tj-color-common-white);
}
#partners-section-logos {
  background-color: var(--tj-color-common-white);
}
#h6-client-title-wrapper-logoZoho {
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#h6-client-title-wrapper-zoho-ic {
  padding-top: 0;
  justify-content: center;
  align-items: center;
}

#logo-zoho-client-title {
  width: 180px;
  height: auto;
  padding: 0;
  margin-bottom: 10px;
}
#ic-client-title {
  color: black;
}

/*Portal Section*/
#choose-portal-section {
  padding-top: 30px;
  padding-bottom: 0;
  height: auto;
  background-color: var(--tj-color-grey-1);
}
#content-portal-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

#content-portal-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#portal-section-content-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

#content-portal-section-title {
  width: 100%;
  height: 50%;
  margin: 0;
  padding-right: 0;
  text-align: center;
}

#img-portal {
  width: 100%;
  height: auto;
}

/*Solutions Section*/
#tag-section-title {
  border: 2px dashed #313d3d;
  border-radius: 20px;
  padding: 5px;
  color: #313d3d;
  justify-content: center;
  align-items: center;
}

#content-end-to-end-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

/*Casos de estudio Section*/
#section-casos-de-estudio {
  padding-top: 0px;
  padding-bottom: 30px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: var(--tj-color-grey-1);
}
#content-casos-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
}

#content-title-casos-reales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 30px;
}
#casos-reales-title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
#casos-reales-title {
  width: 100%;
  text-align: center;
  white-space: normal;
  line-height: 1.2;
  margin: 0 auto;
}
#btn-ver-mas-casos-reales-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

/*Soluciones Industrias Section*/
#section-soluciones-industrias {
  height: auto;
  background-color: whitesmoke;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}
#soluciones-industrias-content-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

#section-soluciones-industrias-title {
  color: black;
  justify-content: center;
  align-items: center;
}
#title-card-soluciones-industrias {
  padding: 0;
  padding-left: 20px;
  padding-bottom: 60px;
  flex-wrap: nowrap;
  background-color: var(--tj-color-theme-primary);
  justify-content: baseline;
}
#cont-title-card-soluciones-industrias {
  width: 348px;
  justify-content: baseline;
  flex-wrap: nowrap;
}

#card-soluciones-industrias {
  height: 490px;
}
#card-soluciones-industrias-title {
  margin-top: 28px;
}
#card-soluciones-industrias-title-largo {
  margin-top: 18px;
  width: 100%;
}
#img-card-soluciones-industrias {
  height: 400px;
}

#logo-hero-zoho {
  width: 150px;
  height: auto;
  margin-bottom: 30px;
}

#metodologia-section{
  background-color: var(--tj-color-grey-1);
}


/*SECCION CONTACTO */
#title-section-contact{
  color: #0f121d;
}


