.header-global-use-zoho{
  background-color: var(--tj-color-theme-primary);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  min-height: 30px;
}

@media (max-width: 1200px){
  .header-global-use-zoho {
    display: none;
  }
}


#header-global-use-zoho-link{
  font-size: 13px;
  color: whitesmoke;
}



#logo-hero-zoho {
  width: 150px;
  height: auto;
  margin-bottom: 30px;
}

#box-pequeno-hero {
  background-color: var(--tj-color-common-white);
}

#tag-section-title-zoho {
  border: 2px dashed #313d3d;
  border-radius: 20px;
  padding: 5px;
  color: #313d3d;
  width: 35%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#hero-left-box-interconnecta {
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 40px;
  margin-right: 0px;
  position: inherit;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: black;
  width: 49%;
}

@media (max-width: 1300px){
  #hero-left-box-interconnecta {
    width: 100%;
    align-items: center;
  }
}


#banner-content-interconnecta {
  margin-left: 0px;
  padding-left: 69px;
  margin-right: 0px;
  padding-right: 0px;
  width: 100%;
  position: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  color: black;
}

#banner-desc-area-ic {
  margin-left: 0px;
  width: 80%;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: 2px dashed #03cd5c;
  border-left: none;
  border-right: none;
  color: black;
  padding: 0;
}

#banner-title-ic {
  font-size: 36px;
  text-align: start;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  color: black;
}

@media (max-width: 1340px){
  #banner-title-ic {
    font-size: 32px;
  }
}

@media (max-width:768px){
  #banner-title-ic {
    font-size: 24px;
  }
}


#banner-desc-ic {
  font-size: 20px;
  text-align: start;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  color: black;
}

#bnner-desc-p-ic {
  font-size: 18px;
  margin-left: 30px;
  text-align: start;
  color: black;
  margin-top: 10px;
}

#buttons-banner-interconnecta-ic {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0px;
  padding-left: 69px;
  width: 100%;
  height: auto;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: black;
}

@media (max-width: 1340px){
  #buttons-banner-interconnecta-ic {
    justify-content: center;
  }
}

@media (max-width: 1200px){
  #buttons-banner-interconnecta-ic {
    justify-content: start;
  }
}

.span-banner-ic {
  font-size: 14px;
  text-align: start;
  padding: 10px;
  margin-bottom: 20px;
  color: black;
  border: 2px dashed #313d3d;
  border-radius: 25px;
}

#buttons-banner-interconnecta-ic-button-uno {
  width: 200px;
  height: auto;
  margin-right: 20px;
  color: black;
}

#img-buttons-banner-interconnecta-ic-button-uno{
  height: 20px;
}

#tag-section-title-zoho {
  border: 2px dashed #313d3d;
  border-radius: 20px;
  padding: 5px;
  color: #313d3d;
  width: 35%;
}

@media (max-width: 1200px){
  #tag-section-title-zoho {
    min-width: 200px;
    width: auto;
    align-items: start;
    padding-left: 25px;
    padding-top: 5px;
    justify-content: left;
  }
 
}



#banner-desc-ic {
  font-size: 20px;
  text-align: start;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

#container-cierre-problema-ic {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 40px;
  margin-bottom: 40px;
}

#texto-cierre-problema-ic {
  font-size: 24px;
  text-align: start;
  font-weight: 500;
  margin-left: 100px;
}

#logo-interconnecta-ic-header {
  width: 150px;
  height: auto;
}

#logo-interconnecta-ic-header-mobile {
  width: 150px;
  height: auto;
}

#logo-interconnecta-ic-header-offcanva {
  width: 150px;
  height: auto;
}

#img-zoho-header-service {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

#img-ai-header-products{
  width: auto;
  height: 20px;
  margin-right: 5px;
}

#img-academy-header {
  width: auto;
  height: 20px;
  margin-right: 5px;
}

#img-ai-header-soluciones {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

#header-soluciones-item {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

#header-service-item {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

#header-academy-item{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.language-select-container {
  position: relative;
  display: inline-block;
  z-index: 11111;
  margin-right: 20px;
  width: 80px;
  font-size: 12px;
}

#language-select {
  width: 40px;
  height: 20px;
  padding: 0px;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  background-color: #ecf0f0;
  z-index: 11111;
}

#language-select:hover {
  border-color: #ecf0f0;
  background-color: #ecf0f0;
}

#language-select:focus {
  border-color: #0f121d;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

#language-select option {
  background-color: #0f121d;
  color: #ecf0f0;
  font-size: 12px;
}

.option {
  font-size: 12px;
  background-color: #ecf0f0;
}

#language-select option:hover {
  background-color: #0f121d;
  color: #ecf0f0;
}

#language-select option:focus {
  background-color: #0f121d;
  color: #ecf0f0;
}

#language-select option::after {
  background-color: #0f121d;
  color: #ecf0f0;
}

@media (max-width: 1200px) {
  .language-select-container {
    position: relative;
    display: inline-block;
    z-index: 3000;
    margin-right: 40px;
    margin-top: 40px;
  }
}

#logo-ic-client-title {
  width: 16px;
  height: auto;
  margin-right: 5px;
}


/*PARTNERS Section */
#content-hero-zoho {
  background-color: var(--tj-color-common-white);
}
#partners-section-logos {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: var(--tj-color-common-white);
}
#h6-client-title-wrapper-logoZoho {
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



#h6-client-title-wrapper-zoho-ic {
  padding-top: 0;
  justify-content: center;
  align-items: center;
}

#logo-zoho-client-title {
  width: 100px;
  height: auto;
  padding: 0;
  margin-bottom: 20px;
}
#ic-client-title {
  font-size: 12px;
  color: black;
}

/*Portal Section*/
#choose-portal-section {
  padding-top: 30px;
  padding-bottom: 0;
  height: auto;
  background-color: var(--tj-color-grey-1);
}
#content-portal-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

#content-portal-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#portal-section-content-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

#content-portal-section-title {
  width: 100%;
  height: 50%;
  margin: 0;
  padding-right: 0;
  text-align: center;
}


/*Solutions Section*/
#tag-section-title {
  border: 2px dashed #313d3d;
  border-radius: 20px;
  padding: 5px;
  color: #313d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 800px) {
  #tag-section-title {
    align-items:start;
    padding: 3px;
  }
}

#content-end-to-end-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

/*Casos de estudio Section*/
#section-casos-de-estudio {
  padding-top: 0px;
  padding-bottom: 30px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: var(--tj-color-grey-1);
}
#content-casos-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
}

#content-title-casos-reales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 30px;
}
#casos-reales-title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
#casos-reales-title {
  width: 100%;
  text-align: center;
  white-space: normal;
  line-height: 1.2;
  margin: 0 auto;
}
#btn-ver-mas-casos-reales-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

/*Soluciones Industrias Section*/
#section-soluciones-industrias {
  height: auto;
  background-color: whitesmoke;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}
#soluciones-industrias-content-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

#section-soluciones-industrias-title {
  color: black;
  justify-content: center;
  align-items: center;
}
#title-card-soluciones-industrias {
  padding: 0;
  padding-left: 20px;
  padding-bottom: 60px;
  flex-wrap: nowrap;
  background-color: var(--tj-color-theme-primary);
  justify-content: baseline;
}
#cont-title-card-soluciones-industrias {
  width: 348px;
  justify-content: baseline;
  flex-wrap: nowrap;
}

#card-soluciones-industrias {
  height: 490px;
}
#card-soluciones-industrias-title {
  margin-top: 28px;
  margin-bottom: 20px;
  font-size: 20px;
  width: 100%;
  
}
#card-soluciones-industrias-title:hover a {
  color: white;
  text-decoration: underline;
  
}

#card-soluciones-industrias-title-largo {
  margin-top: 28px;
  margin-bottom: 20px;
  font-size: 20px;
  width: 100%;
}
#img-card-soluciones-industrias {
  height: 400px;
}

#logo-hero-zoho {
  width: 110px;
  height: auto;
  margin-bottom: 30px;
}

#metodologia-section{
  background-color: var(--tj-color-grey-1);
}
#metodologia-text{
  text-align: center;
}
#icono-metodologia-card{
  width: 50px;
  height: auto;
}

/*SECCION CONTACTO */
#title-section-contact{
  color: #0f121d;
}





/*PRUEBA CARRUSEL*/
.item-carrusel-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}

.banner-left-box-new-carrusel {
  padding: 0px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
}

@media (max-width: 1100px){
  .banner-left-box-new-carrusel {
    width: 100%;
  }
}

.banner-right-box-new-carrusel {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

@media (max-width: 1100px){
  .banner-right-box-new-carrusel {
    display: none;
  }
}


.banner-left-box-button-container{
  margin-top: 30px;
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
}

.banner-content-new-carrusel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin-left: 40px;
}

@media (max-width: 1100px){
  .banner-content-new-carrusel-container {
    margin-left:0px;
    padding: 15px;
  }
}


.item-carrusel-container-item-1{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../assets/images/carrusel-home/customerportal.jpg");
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center; 
  border-radius: 20px;
}

@media (max-width: 1100px){
  .item-carrusel-container-item-1 {
    justify-content: center;
  }
}

.item-carrusel-container-item-2{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../assets/images/carrusel-home/crm.jpg");
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center;  
  border-radius: 20px;
}

@media (max-width: 1100px){
  .item-carrusel-container-item-2 {
    justify-content: center;
  }
}

.item-carrusel-container-item-3{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../assets/images/carrusel-home/analitycs.webp");
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center;  
  border-radius: 20px; 
}

@media (max-width: 1100px){
  .item-carrusel-container-item-3 {
    justify-content: center;
  }
}

.item-carrusel-container-item-4{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../assets/images/carrusel-home/customerportal.jpg");
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center;  
  border-radius: 20px;
}

@media (max-width: 1100px){
  .item-carrusel-container-item-4 {
    justify-content: center;
  }
}

.item-carrusel-container-item-5{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-image:  url("../../assets/images/carrusel-home/soporte.jpg");
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center;  
  border-radius: 20px; 
}

@media (max-width: 1100px){
  .item-carrusel-container-item-5 {
    justify-content: center;
  }
}


.banner-right-box-new-carrusel-5{
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 100%;
}

@media (max-width: 1100px){
  .banner-right-box-new-carrusel-5 {
    display: none;
  }
}

.item-carrusel-container-item-6{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgba(2, 45, 80, 0.85) 0%,
    rgba(2, 45, 80, 0.7) 35%,
    rgba(2, 45, 80, 0.4) 60%,
    rgba(2, 45, 80, 0.1) 100%
  ),
  url("../../assets/images/carrusel-home/apphub.webp");
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center;  
  border-radius: 20px; 
}

@media (max-width: 1100px){
  .item-carrusel-container-item-6 {
    justify-content: center;
  }
}

.item-carrusel-container-item-7{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-image:  url("../../assets/images/carrusel-home/automatizacion.jpg");
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center;  
  border-radius: 20px;
}

@media (max-width: 1100px){
  .item-carrusel-container-item-7 {
    justify-content: center;
  }
}

.banner-right-box-new-carrusel-7{
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 100%;
}

@media (max-width: 1100px){
  .banner-right-box-new-carrusel-7 {
    display: none;
  }
}








/*Carrusel nuevo*/


.carousel-container {
    width: 100%;
    margin: auto;
    overflow: hidden; /* El truco principal: oculta lo que se sale */
    position: relative;
    border-radius: 15px;
    height:80vh;
    margin-top:10px;
}



.carousel-slides {
    display: flex; /* Pone los slides uno al lado del otro */
    width: 100%;
    height:80vh;
    transition: transform 0.5s ease-in-out; /* La animación de deslizamiento */
}


.carousel-slide {
    flex: 0 0 100%; /* Cada slide ocupa el 100% del contenedor */
    box-sizing: border-box;
    padding: 45px;
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-left: 45.5px;
}

@media (max-width: 1100px){
  .carousel-slide {
   padding: 20px;
  }
}


.item-hero-carrusel-title{
  font-size: 48px; 
  text-align: start; 
  color: white;
}

@media (max-width: 1100px){
  .item-hero-carrusel-title{
    font-size: 30px;
  }
}

.item-hero-carrusel-title span {
  display: inline-block;
  color: var(--tj-color-theme-primary);
  font-weight: 12px;
}


/* Estilo para las flechas */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none; /* Evita que se seleccione el texto del botón */
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.carousel-btn:hover {
    background-color: white;
}


.link-menu-header .btn-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  width: 24px;
  height: 24px;
  margin-left: 15px;
  overflow: hidden;
  background-color: var(--tj-color-theme-primary);
  border-radius: 50%;
}

.link-menu-header .btn-icon i {
  color: var(--tj-color-common-white);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.link-menu-header:hover .btn-icon i {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

@media (max-width: 1200px){
  #boton-card-1-carrusel-home-hero{
    font-size: 14px;
    width:210px;
    display: inline-block;   /* o display:block; */
    white-space: normal;
    overflow-wrap: break-word;
    justify-content: flex-start;
    text-align: left;
  }
}

@media (max-width: 1200px){
  #boton-card-2-carrusel-home-hero{
    font-size: 14px;
  }
}

@media (max-width: 1200px){
  #boton-card-3-carrusel-home-hero{
    font-size: 14px;
  }
}

@media (max-width: 1200px){
  #boton-card-4-carrusel-home-hero{
    font-size: 14px;
    width:190px;
    display: inline-block;   /* o display:block; */
    white-space: normal;
    overflow-wrap: break-word;
    justify-content: flex-start;
    text-align: left;
  }
}

@media (max-width: 1200px){
  #boton-card-5-carrusel-home-hero{
    font-size: 14px;
  }
}

@media (max-width: 1200px){
  #boton-card-6-carrusel-home-hero{
    font-size: 14px;
  }
}

@media (max-width: 1200px){
  #boton-card-7-carrusel-home-hero{
    font-size: 14px;
  }
}

.container-contact-section{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.img-contact-section{
  width: 100%;
  height: auto;
}

.container-img-contact-section{
  width: 50%;  
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.container-form-contact-section{
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1200px){

  .container-contact-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .container-img-contact-section{
   display: none;
  }

  .container-form-contact-section{
    width: 360px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
