.ic-banner-verde-solution-desing{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

@media (max-width: 1200px) {
  .ic-banner-verde-solution-desing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.ic-banner-verde-solution-desing-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 45%;
}

@media (max-width: 1200px) {
  .ic-banner-verde-solution-desing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }
}

.ic-banner-verde-solution-desing-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

@media (max-width: 1200px) {
  .ic-banner-verde-solution-desing-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.ic-banner-verde-solution-desing-content-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

@media (max-width: 1200px) {
  .ic-banner-verde-solution-desing-content-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}