:root {
  --ic-gray-light: #7e8283;
  --ic-gray-dark: #3c434d;
  --ic-green: #03cd5c;
  --ic-green-light: #f0fdf6;
  --ic-lightgray: #f5f5f5;
  --ic-blue-light: #0296d6;
  --ic-blue: #006eb9;
  --ic-blue-dark: #053050;
  --fin-shadow:0 10px 24px rgba(17,24,39,.08);
  --ic-white: #ffffff;

  --ic-radius-sm: 8px;
  --ic-radius-md: 14px;
  --ic-radius-lg: 22px;

  --ic-transition: 0.3s ease;
}


.ic-socio-container-card-dos{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  height: auto;
}

@media (max-width: 900px) {
  .ic-socio-container-card-dos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
    margin-top: 25px;
 }
}

/* ---- TARJETA ---- */
.ic-socio-card-dos {
  width: 30%;
  background: var(--ic-white);
  border-radius: var(--ic-radius-md);
  padding: 24px 20px;
  text-align: center;

  box-shadow: var(--ic-shadow-light);  
  transition: transform .25s ease, box-shadow .25s ease;
  cursor: default;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  min-height: 204px;

}

/* ANIMACIÓN HOVER */
.ic-socio-card-dos:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 12px 28px rgba(0,0,0,0.12);
}
 
.ic-socio-card-dos img {
    width: 60px;
}


@media (max-width: 1400px) {
  .ic-socio-card-dos{
    min-height: 240px;
 }
}

@media (max-width: 900px) {
  .ic-socio-card-dos{
    width: 100%;
 }
}



/* ---- LISTA CUSTOMER PORTAL ---- */
/* Ítems (columna derecha) */
.lista-customer-portal-items {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-top: 20px;
  column-gap: 20px;
  margin-bottom: 40px;
}

/* Cada item */
.customer-portal-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  border-radius: 12px;
  box-shadow: var(--shadow);
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.2;
  color: var(--text);
  text-align: left;
  transition: all 0.3s ease;
  width: 45%;
}
.customer-portal-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 24px rgba(17, 24, 39, 0.15);
}

/* Ícono check */
.customer-portal-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(3, 205, 92, 0.1); /* círculo con leve verde */
  color: var(--green);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.customer-portal-icon i {
  font-size: 14px;
  line-height: 1;
}

@media (max-width: 900px) {
  .lista-customer-portal-items {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .customer-portal-item {
    width: 100%;
  }
}



/* ---- LISTA Análisis de Necesidades para tu Compañía  ---- */
/* Ítems (columna derecha) */
.lista-analisis-de-necesidades-items {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-top: 20px;
  column-gap: 20px;
  margin-bottom: 40px;
}

/* Cada item */
.analisis-de-necesidades-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  border-radius: 12px;
  box-shadow: var(--shadow);
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.2;
  color: var(--text);
  text-align: left;
  transition: all 0.3s ease;
  width: 100%;
}
.analisis-de-necesidades-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 24px rgba(17, 24, 39, 0.15);
}

/* Ícono check */
.analisis-de-necesidades-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(3, 205, 92, 0.1); /* círculo con leve verde */
  color: var(--green);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.analisis-de-necesidades-icon i {
  font-size: 14px;
  line-height: 1;
}

@media (max-width: 900px) {
  .lista-analisis-de-necesidades-items {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .analisis-de-necesidades-item {
    width: 100%;
  }
}

.ic-solutions-container-2-extras{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 25px;
    margin-top: 20px;
}

@media (max-width: 820px) {
  .ic-solutions-container-2-extras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
    margin-top: 25px;
 }
}

.ic-solutions-container-2-extras .ic-solutions-card{
    width: 30%;
    min-height: 150px;
}

@media (max-width: 820px) {
  .ic-solutions-container-2-extras .ic-solutions-card{
    width: 100%;
 }
}

.supp-and-maint-ecosistem-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 24px;
    border-radius: var(--ic-radius-md);
    width: 100%;
    height: 300px;
    background-color: var(--ic-green);
    margin-bottom: 60px;
}