.terms-and-conditions-banner {
  background-color: #0c1e21;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 20px;
    width: 94%;
    margin: 25px auto;
      position: relative;
  z-index: 1;
  margin-top: 60px;
}

.terms-and-conditions-content {
  max-width: 800px;
}