#container-zoho-free-trial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-left: 59px;
    padding-right: 32px;
    margin-bottom: 30px;
}

#img-logo-zoho-section{
    width: 160px;
    height: auto;
}
#section-zoho-free-trial{
    margin-bottom: 10px;
    width: 100%;
}
#container-section-zoho-free-trial{
    border-radius: 50px;
    width: 100%;
    flex-direction: column;
    border-radius: 20px;
    background-image: url("../../assets/images/zohofreetrials/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
#container2-section-zoho-free-trial{
    border-radius: 50px;
    width: 100%;
    flex-direction: column;
    background-color: var(--tj-color-black-opacity);
}
#content-logo-zoho-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}
#content-textos-zoho-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}


@keyframes aparicionPro {
  from {
    opacity: 0;
    transform: translateY(10px); /* Empieza 10px más abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0);    /* Termina en su lugar */
  }
}

.title-basico-con-animacion{
    font-size: 40px;
    font-weight: 600;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation: aparicionPro 1.5s ease-out forwards;
}

@media (max-width: 760px) {
    .title-basico-con-animacion{
        font-size: 32px;
        font-weight: 600;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}

.text-banner-principal-p{
    font-size: 20px;
    color: white;
    text-align: center;
    width: 60%;
}

@media (max-width: 760px) {
    .text-banner-principal-p{
        font-size: 14px;
        color: white;
        width: 100%;
        text-align: center;
    }
}


#text-zoho-free-trials-section{
    font-size: 20px;
    color: whitesmoke;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*FEATURED ZOHO APPS*/
#section-featured-zoho-apps{
    background-color: var(--tj-color-grey-1);
    border-radius: 20px;
    margin-left: 45px;
    margin-right: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#section-featured-zoho-apps-suites{
    background-color: var(--tj-color-grey-1);
    border-radius: 20px;
    margin-left: 45px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#tag-section-title-featured-apps {
  border: 2px dashed #313d3d;
  border-radius: 20px;
  padding: 5px;
  color: #313d3d;
  min-width: 30%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 35px;
  max-width: 70%;
}

#content-featured-zoho-apps-title-text{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;

}
#content-cards-apps-zoho-free-trial{
    display: flex;
    justify-content: center;
    align-items: center;
}
#card-apps-zoho-free-trial{
    border-radius: 30px;
    border: 2px solid var(--tj-color-theme-primary) 2px;
    margin-bottom: 30px;
}
#card-apps-zoho-free-trial-hover-text{
    color: whitesmoke;
    width: 100%;
}
#card-apps-zoho-free-trial-hover-content-text{
    width: 80%;
}
#botton-text-card{
    color: var(--tj-color-theme-primary);
}
#content-logo-zoho-featured-apps-cards{
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    border: 3px solid var(--tj-color-theme-primary);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#logo-zoho-featured-apps-cards{
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
}

/*sales and marketing*/
#text-sub-title{
    color: black;
    margin-top: 10px;
}

#title-card-zoho-marketing-automation{
    font-size: 22.5px;
}
.h6-client-title::after, .h6-client-title::before{
    background-color: var(--tj-color-grey-1);
}


.card-logos-partners-certifications{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 350px;
    background-color: #ecf0f0;
    border-radius: 25px;
}

@media (max-width: 990px) {
  .card-logos-partners-certifications {
    width: 280px;
  }
}

.img-logos-partners-certifications{
    width: 100%;
    height: auto;
}

.container-cards-partners-certifications{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 40px;
}

@media (max-width: 992px) {
  .container-cards-partners-certifications {
    flex-direction: column;
  }
}
